<div class="menu background" [ngClass]="menuOpened ? 'opened': ''">
    <button class="menu__close-btn" mat-mini-fab aria-label="Fechar menu" (click)="toggleMenu()" fxHide.md fxHide.lg color="white">
        <mat-icon color="primary">close</mat-icon>
    </button>

    <div fxHide.xs fxHide.sm>
        <app-logo class="menu__logo" color="primary"></app-logo>
        <div class="menu__title audaces-h1">
            Roboto-Medium 20px
        </div>
        <div class="menu__subtitle audaces-h2">
            Roboto-Regular 14px
        </div>
    </div>    

    <nav class="menu__list--top">
        <button class="menu__list__item" mat-button color="primary">
            <mat-icon class="menu__icon">home</mat-icon>Teste Audaces
        </button>
        <button class="menu__list__item" mat-button>
            <mat-icon class="menu__icon">insert_chart</mat-icon>Exemplo 1
        </button>
        <button class="menu__list__item" mat-button>
            <mat-icon class="menu__icon">extension</mat-icon>Exemplo 2
        </button>
        <button class="menu__list__item" mat-button color="disabled">
            <mat-icon class="menu__icon">filter_alt</mat-icon>Exemplo 3
        </button>
    </nav> 

    <nav class="menu__list--bottom">
        <button class="menu__list__item text" (click)="toggleDarkTheme()" mat-button>
            <mat-icon class="menu__icon">settings_brightness</mat-icon>Trocar de tema
        </button>
        <button class="menu__list__item" mat-button>
            <mat-icon class="menu__icon">person</mat-icon>Username
        </button>
    </nav>
</div>

<div class="menu__toolbar" fxHide.md fxHide.lg>  
    <mat-toolbar color="primary">
        <button (click)="toggleMenu()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
        </button>
        <app-logo class="menu__logo" [accent]="true"></app-logo>
    </mat-toolbar>
</div>