.menu {
  width: 256px;
  height: 100vh;
  transition: left 0.3s ease-in-out;
  padding: 0 20px 0 20px;
  display: flex;
  flex-direction: column;
  left: -256px;
  position: fixed;
  z-index: 5;

  @media (min-width: 960px) {
    left: 0;
    position: relative;
    padding-top: 43px;
    box-shadow: 0px 3px 12px #00000029;
  }

  &.opened {
    left: 0;
    box-shadow: 0px 3px 12px #00000029;

    .menu__close-btn {
      display: block;
    }
  }

  &__logo {
    display: block;
    text-align: center;
    width: 171px;
  }

  &__title {
    margin: 34px 0 0 0;
  }

  &__subtitle {
    margin: 2px 0 0 0;
  }

  &__icon {
    margin: 0 34px 0 0;
  }

  &__list {
    margin: 0 -20px;

    &__item {
      width: 100%;
      text-align: left;
      height: 48px;
    }
  }

  &__list--top {
    @extend .menu__list;
    margin-top: 12px;
  }

  &__list--bottom {
    @extend .menu__list;
    margin-top: auto;
  }

  &__toolbar {
    position: fixed;
    width: 100%;
    z-index: 4;

    .menu__logo {
      margin: 9px 0 0 10px;
    }
  }

  &__close-btn {
    position: absolute;
    left: calc(100% + 10px);
    top: 10px;
    display: none;
  }
}
