<div class="menu">
    <app-logo class="menu__logo" color="primary"></app-logo>
    <div class="menu__title audaces-h1">
        Roboto-Medium 20px
    </div>
    <div class="menu__subtitle audaces-h2">
        Roboto-Regular 14px
    </div>

    <nav class="menu__list--top">
        <button class="menu__list__item" mat-button color="primary">
            <mat-icon class="menu__icon">home</mat-icon>Teste Audaces
        </button>
        <button class="menu__list__item" mat-button>
            <mat-icon class="menu__icon">insert_chart</mat-icon>Exemplo 1
        </button>
        <button class="menu__list__item" mat-button>
            <mat-icon class="menu__icon">extension</mat-icon>Exemplo 2
        </button>
        <button class="menu__list__item" mat-button color="disabled">
            <mat-icon class="menu__icon">filter_alt</mat-icon>Exemplo 3
        </button>
    </nav> 

    <nav class="menu__list--bottom">
        <button class="menu__list__item text" mat-button>
            <mat-icon class="menu__icon">settings_brightness</mat-icon>Trocar de tema
        </button>
        <button class="menu__list__item" mat-button>
            <mat-icon class="menu__icon">home</mat-icon>Username
        </button>
    </nav> 
</div>