.card {
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 4px;
  padding: 22px;
  margin: 0 0 20px 0;

  &__actions {
    text-align: right;
  }
}

.line {
  margin-top: 29px;

  &__title {
    font-size: 16px;
    margin: 15px 0 0 0;
    width: 75px;
  }

  &__item {
    max-width: calc(25% - 20px);
  }

  .mat-form-field {
    max-width: 100%;
  }

  &__target {
    width: calc(100% - 170px);
  }
}
