<div class="content">
    <mat-grid-list cols="24" gutterSize="30" rowHeight="40">
        <mat-grid-tile  colspan="18" rowspan="4" style="background-color: red">
            <mat-card>Simple card</mat-card>
        </mat-grid-tile>
        <mat-grid-tile colspan="6" rowspan="12">
            <app-banner title="Texto aqui" subtitle="Exemplo" type="vertical" imageSrc="assets/banner--vertical.png"></app-banner>
        </mat-grid-tile>
        <mat-grid-tile colspan="9" rowspan="4">
            <app-banner title="Entre em contato" type="horizontal-bottom" imageSrc="assets/banner--contato.png"></app-banner>
        </mat-grid-tile>
        <mat-grid-tile colspan="9" rowspan="4">
            <app-banner title="Redes sociais" type="horizontal-top" imageSrc="assets/banner--redes-sociais.png"></app-banner>
        </mat-grid-tile>
      </mat-grid-list>
</div>
