<div class="content">
    <div fxLayout="row wrap" fxLayoutGap="20px" fxLayoutAlign="flex-start">
        <div fxFlex="calc(75% - 32px)">
           <div fxLayout="row"> 
                <div fxFlex="calc(100% - 32px)">
                    <app-sequence-target></app-sequence-target>
                </div>
           </div>
           <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px"> 
                <div fxFlex="calc(50% - 32px)" fxFlex="calc(50% - 32px)">
                    <app-banner title="Entre em contato" type="horizontal-bottom" imageSrc="assets/banner--contato.png"></app-banner>
                </div>
                <div fxFlex="calc(50% - 32px)">
                    <app-banner title="Redes sociais" type="horizontal-top" imageSrc="assets/banner--redes-sociais.png"></app-banner>
                </div>
            </div> 
        </div>

        <div fxFlex="calc(25% - 32px)" fxHide.sm fxHide.md fxHide.xs>
            <app-banner title="Texto aqui" subtitle="Exemplo" type="vertical" imageSrc="assets/banner--vertical.png"></app-banner>
        </div>     
    </div>
</div>
